#hotsite {
  --color-black: #14121A;
  --color-white: #D5E1F6;
  --color-white-transparentize: rgba(213, 225, 246, .5);
  --color-dark-purple: #2B2536;
  --color-mauve-purple: #CCB0FF;
  --color-mauve-purple-transparentize: rgba(204, 176, 255, .2);
  --color-pink: #CA5FD0;
  --color-grey: #282730;

  --transition-color: .2s all ease-in-out;

  background-color: var(--color-black);
  color: var(--color-white);

  font-family: "area-normal", sans-serif;
}
#hotsite .opacity-20 {
  opacity: 0.2;
}

#hotsite .highlight {
  color: var(--color-pink);
}
#hotsite .h-header {
  background-color: var(--color-dark-purple)
}
#hotsite .h-nav {
  position: fixed;
  transform: translate(-120px, 240px);
  z-index: 9999;
  color: var(--color-black);
}
#hotsite .h-nav__bg {
  background-color: var(--color-mauve-purple-transparentize);
}
#hotsite .h-nav__icon {
  fill: var(--color-white);
  width: 38px;
  transition: var(--transition-color);
}
#hotsite .h-nav__icon:hover {
  fill: var(--color-pink);
}
#hotsite .h-nav__icon--epson {
  width: 20px;
}
#hotsite .h-nav__icon--mob-menu {
  width:100px;
}
#hotsite .h-nav__item {
  position: relative;
}
#hotsite .h-nav__item a {
  color: var(--color-black);
}
#hotsite .h-nav__item:hover .h-nav__popup {
  opacity: 1;
  visibility: visible;
}
#hotsite .h-nav__popup {
  width: fit-content;
  padding: .25rem 1rem 0;
  border-radius: .25rem;
  background-color: var(--color-white);
  position: absolute;
  left: 82px;
  top: 18px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-color);
}
#hotsite .h-nav__popup::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  top: 20%;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent var(--color-white) transparent transparent;
}

#hotsite .intro {
  height: 100vh;
}

#hotsite .intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hotsite .intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
} 

#hotsite .h-infografico::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 320px;
  background: -moz-linear-gradient(top,  rgba(43,37,54,1) 0%, rgba(43,37,54,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(43,37,54,1) 0%,rgba(43,37,54,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(43,37,54,1) 0%,rgba(43,37,54,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2536', endColorstr='#002b2536',GradientType=0 ); /* IE6-9 */
}

#hotsite .h-infografico__img {
  position: relative;
  z-index: 999;
  margin-top: 300px;
}

#hotsite .h-linhas .nav__item {
  color: var(--color-pink);
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 1rem 2rem .5rem;
  border-radius: .5rem;
  transition: var(--transition-color);
  cursor: pointer;
}

#hotsite .h-linhas .nav__item:hover {
  background-color: var(--color-grey);
  color: var(--color-pink);
}

#hotsite .h-linhas .nav__item.active:hover::after {
  opacity: 0;
  visibility: hidden;
}

#hotsite .h-linhas .nav__item.active {
  color: var(--color-white);
}

#hotsite .h-linhas .nav__item.active:hover {
  color: var(--color-pink);
}

#hotsite .h-linhas .nav__item::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  top: .5rem;
  background-color: var(--color-pink);
  opacity: 0;
  visibility: hidden;
}

#hotsite .h-linhas .nav__item.active::after {
  opacity: 1;
  visibility: visible;
  transition: var(--transition-color);
}
#hotsite .h-linhas__splide .splide__arrow {
  top: 30%;
  background: var(--color-white-transparentize);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-color);
}
#hotsite .h-linhas__splide:hover .splide__arrow {
  opacity: 1;
  visibility: visible;
}
#hotsite .h-linhas__splide .splide__arrow--prev {
  left: -2rem;
}
#hotsite .h-linhas__splide .splide__arrow--next {
  right: -2rem;
}
#hotsite .h-linhas__splide .splide__track {
  overflow-y: visible;
  overflow-x: clip;
}
#hotsite .h-linhas__splide .bg-title {
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px var(--color-white);
  -moz-text-fill-color: transparent;
  font-size: 10.625rem;
  font-weight: 900;
  z-index: -1;
  pointer-events: none;
  opacity: .1;
}
#hotsite .h-linhas__splide .bg-title.top {
  top: -70px;
  left: 0;
}
#hotsite .h-linhas__splide .bg-title.bottom {
  bottom: -40px;
  right: 0;
}
#hotsite .h-linhas__splide .sliderprod__overtitle,
#hotsite .h-linhas__splide .sliderprod__title,
#hotsite .h-linhas__splide .sliderprod__description {
  text-align: end;
  flex-wrap: nowrap;
}
#hotsite .h-linhas__splide .sliderprod__overtitle {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "area-extended", sans-serif;
}
#hotsite .h-linhas__splide .sliderprod__title {
  font-size: 2rem;
  font-style: italic;
  font-family: "area-extended", sans-serif;
  font-weight: 700;
}
#hotsite .h-linhas__splide .sliderprod__features {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
#hotsite .h-linhas__splide .sliderprod__features::-webkit-scrollbar-track {
  position: absolute;
  background: transparent;
}
#hotsite .h-linhas__splide .sliderprod__features::-webkit-scrollbar {
  width: 0.75rem;
  background: transparent;
}
#hotsite .h-linhas__splide .sliderprod__features::-webkit-scrollbar-thumb {
  background: rgba(213, 225, 246, .3);
  border-radius: 0.75rem;
  border: 0.425rem var(--color-black) solid;
}
#hotsite .h-linhas__splide .sliderprod__features small{
  color: var(--color-white);
  background-color: rgba(213, 152, 217, .3);
  padding: .125rem .25rem 0;
  margin: 0 .25rem;
  border-radius: .25rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}
#hotsite .h-linhas__splide .sliderprod__img {
  filter: drop-shadow(0 0 20px var(--color-black));
}
#hotsite .h-linhas__splide .sliderprod__splide {
  position: absolute; 
  left: -45px;
  max-width: 625px;
}
#hotsite .h-linhas__splide .sliderprod__splide .splide__track {
  height: 350px;
  z-index: 999;
}
#hotsite .h-linhas__splide .sliderprod__splide .splide__track:hover + .sliderprod__splide-button {
  opacity: 1;
}
#hotsite .h-linhas__splide .sliderprod__splide .sliderprod__splide-button {
  position: absolute;
  bottom: 30px;
  opacity: .5;
  transition: var(--transition-color);
}
#hotsite .h-linhas__splide .sliderprod__economize small{
  color: var(--color-white);
  background-color: rgba(213, 152, 217, .3);
  padding: .25rem;
  margin-bottom: .25rem;
  border-radius: .25rem;
  display: inline-block;
}
#hotsite .h-linhas__splide .sliderprod__economize,
#hotsite .h-linhas__splide .sliderprod__old-price,
#hotsite .h-linhas__splide .sliderprod__price,
#hotsite .h-linhas__splide .sliderprod__parcels {
  font-family: "ff-basic-gothic-pro", sans-serif;
  flex-wrap: nowrap;
  line-height: 1;
}
#hotsite .h-linhas__splide .sliderprod__old-price,
#hotsite .h-linhas__splide .sliderprod__parcels {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 200;
  line-height: 1;
}
#hotsite .h-linhas__splide .sliderprod__price {
  font-size: 3.5rem;
  font-weight: 500;
}
#hotsite .h-linhas__splide .sliderprod__button {
  font-size: 1.375rem;
  font-family: "ff-basic-gothic-pro", sans-serif;
  font-weight: 500;
  display: block;
  width: fit-content;
  background-color: rgb(161,76,166); /* Old browsers */
  background-image: linear-gradient(135deg, rgba(161,76,166,1) 0%,rgba(221,139,225,1) 100%);
  padding: 1rem 3rem .75rem;
  border-radius: .5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}
#hotsite .h-galeria__splide .splide-topo .splide__track--draggable{
}
#hotsite .h-galeria__splide .angulo{
  height: 100px;
  width: 100px;
  box-shadow: -59px 0px 0px 0px rgb(255, 255, 255), 2px 2px 0px 0px rgb(255, 255, 255);
  border: 20px solid transparent;
  position: absolute;
  background-color: transparent;
  z-index: 9999;
}
#hotsite .h-galeria__splide .splide-topo .splide__arrow .splide__arrow--prev{
  left: 0 !important;
}

#hotsite .h-galeria__splide .splide-topo .splide__arrow{
  top: 0 !important;
  position: inherit;
  margin: 0.2rem;
  background: transparent;
  opacity: 1;
}
#hotsite .h-galeria__splide .splide-topo .splide__arrow svg{
  fill: #d7e0f5;
}
#hotsite .h-galeria__splide .splide-topo .splide__arrows.splide__arrows--ltr {
  display: flex !important;
  justify-content: flex-end!important;
}