#hotsite {
  --color-black: #14121A;
  --color-white: #D5E1F6;
  --color-dark-purple: #2B2536;
  --color-mauve-purple: #CCB0FF;
  --color-mauve-purple-transparentize: rgba(204, 176, 255, .2);
  --color-pink: #CA5FD0;

  --transition-color: .2s all ease-in-out;

  background-color: var(--color-black);
  color: var(--color-black);
}
#hotsite .opacity-20 {
  opacity: 0.2;
}
#hotsite .h-header {
  background-color: var(--color-dark-purple)
}
#hotsite .h-nav {
  position: absolute;
  left: -96px;
  top: 240px;
}
#hotsite .h-nav__bg {
  background-color: var(--color-mauve-purple-transparentize);
}
#hotsite .h-nav__icon {
  fill: var(--color-white);
  width: 38px;
  transition: var(--transition-color);
}
#hotsite .h-nav__icon:hover {
  fill: var(--color-pink);
}
#hotsite .h-nav__icon--epson {
  width: 20px;
}
#hotsite .h-nav__icon--mob-menu {
  width:100px;
}
#hotsite .h-nav__item {
  position: relative;
}
#hotsite .h-nav__item a {
  color: var(--color-black);
}
#hotsite .h-nav__item:hover .h-nav__popup {
  opacity: 1;
  visibility: visible;
}
#hotsite .h-nav__popup {
  width: fit-content;
  padding: .25rem 1rem;
  border-radius: .25rem;
  background-color: var(--color-white);
  position: absolute;
  left: 82px;
  top: 18px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-color);
}
#hotsite .h-nav__popup::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  top: 20%;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent var(--color-white) transparent transparent;
}